# Packages listed in this file will be installed by micropip just before the app
# is started. This means that each time someone visits the app, the packages
# will be downloaded and installed into the browser's Pyodide environment.
#
# Each line must contain either a requirements specification or the URL for a
# wheel file.
beautifulsoup4